#roomList {
  .createRoom {
    border: 1px solid #17212b;
    padding: 2px 6px;
    border-radius: 3px;
  }

  .joinRoom {
    border: 1px solid #17212b;
    padding: 2px 6px;
    border-radius: 3px;
  }
}
