#roomDetail {
  background-color: #0e1621;
  height: 100%;
  overflow-y: scroll;

  color: #eee;
}

.messageWrap {
  position: relative;
  li {
    position: absolute;
    width: 100%;
    padding: 4px 8px;

    &.left {
      left: 0;
      background-color: #182533;
    }
    &.right {
      right: 0;
      background-color: #2b5278;
    }
  }
}
