#header {
  position: relative;
  min-height: 52px;
  background-color: #17212b;
}
h2 {
  text-align: center;
  padding: 16px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #eee;
}

.iconWrap {
  position: absolute;
  cursor: pointer;

  &.left {
    top: 14px;
    left: 16px;
  }
  &.right {
    top: 14px;
    right: 16px;
  }
}

.playerListWrap {
  position: absolute;
  z-index: 5000;
  top: 50px;
  right: 0px;
  width: 180px;
  background-color: #17212b;

  li {
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding: 4px 8px;

    &:hover {
      background-color: #232e3c;
    }

    .badgeWrap {
      position: absolute;
      top: 2px;
      left: 2px;
    }
    .userProfile {
      background-color: transparent;
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
  }
}

.countCircle {
  position: absolute;
  left: -8px;
  top: -2px;

  font-size: 10px;
  font-weight: bold;

  background-color: $secondaryBlue;
  padding: 2px 4px;
  line-height: 11px;
  border-radius: 50%;
}
