.messageContainer {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 100px);

  .messageWrap {
    position: relative;
    line-height: 40px;
    padding: 0 10px;

    &.me {
      text-align: right;
    }

    &.other {
      text-align: left;
      padding-left: 40px;
    }
  }

  .senderProfile {
    position: absolute;
    background-color: transparent;
    width: 40px;
    margin-right: 10px;
    left: 0;
  }

  .senderName {
  }

  .messageText {
    padding: 8px;
    border-radius: 8px;

    &.me {
      background-color: $primaryBlue;
    }

    &.other {
      background-color: $backgroundContrast;
    }
  }

  .createAt {
    font-size: 10px;
    margin-left: 4px;

    &.me {
      margin-right: 4px;
    }
  }
}
