.messageWrap {
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  li {
    width: auto;
    padding: 8px 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 8px;

    &.left {
      text-align: left;
      background-color: $backgroundContrast;
    }
    &.right {
      text-align: right;
      background-color: $primaryBlue;
    }

    .message {
    }
  }
}
